*{
    margin: 0;
    padding: 0;
    color: #A6ADBA;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #1D2735;
}

button{
    height: 46px;
    width: 94px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: #6419E6;
    color: white;
    cursor: pointer;
}

.section1{
    background-color: #1D2735;
    text-align: center;
}

.heading{
    font-size: 4rem;
    font-weight: 900;
}

.belowHeading{
    font-size: 20px;
    padding: 22px;
    max-width: 55%;
    margin: auto;
    font-weight: 500;
}

.section2{
    background-color: #1D2735;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 70px;
}

.section3{
    text-align: center;
    background-color: #1D232A;
}

.section3 h1{
    font-size: 2.5rem;
    padding: 20px;
}

#inputbox{
    padding: 10px ;
    font-size: 16px;
    width: 320px;
    height: 25px;
    color: black;
    border-radius: 10px;
}

#container{
    background-color: #1D232A;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 100px;
    
}
.cards{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 280px;
    height: 350px;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 8px;
}

.cards p{
    padding-bottom: 15px;
}

#showMoreBtn{
    height: 35px;
    width: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #6419E6;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.showMoreSectionBtn{
  background-color: #1D232A;
  display: none;
}

#showMorePhones{
    border-radius: 8px;
    background-color: #6419E6;
    color: white;
    display: flex;
    width: 120px;
    margin: auto;
    height: 36px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
